:root {
  --green :rgb(37, 172, 51);
}

.header-background-elagage-redon {
  height:80vh;
  min-height: 80svh;
  /* fallback */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-image: 
    linear-gradient(to bottom, rgba(13, 113, 24, 0) 60%, black 100%),
    url('../images/tree-6002957_1920.jpg');
  
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;

}



.elagage_redon {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 60%, black 100%), url('../images/black-370118_1920.png');
  padding: clamp(4rem, 8vh, 8rem) clamp(2rem, 5vw, 6rem);
}

.elagage_redon p, ul {
  color: white;
  text-align: justify;
}

.elagage_redon h2, h3 {
  color: var(--green);
  padding-top:5rem;
  padding-bottom: 2rem;
  text-align: center;
  line-height: 1.2;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  margin: 3rem auto;
  height: 4rem;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
  min-width: 100%;
  text-align: center;
  font-size: clamp(2rem, 4vw,3rem);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
 

}
