@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --green :rgb(37, 172, 51);
}

/* * {
    outline: 1px solid limegreen;
  } */

  body {
    font-size: 1.6rem; /* = 16px si tu as 62.5% dans html */
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.6rem, 3vw, 1.8rem);
    line-height: 1.7;
    font-weight:400;
  }

  h1, h2, h3 {
    font-family: 'News Cycle',sans-serif;
  }

  h1 {
  font-size: clamp(3.5rem, 5vw, 8rem);
  font-weight: 600;
}
  h2 {
    font-size: clamp(2.5rem, 4.5vw, 5rem);
    font: 600;
  }

  h3 {
    font-size: clamp(2.5rem, 3vw, 3.5rem);
    font-weight: 500;
  }
  

.logo {
    display: block;
    height: clamp(4rem, 4vw, 8rem); 
    width:auto;
    flex-shrink: 0;      /* empêche l'image de rétrécir */
    
}

.header-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  /* fallback */
  min-height: 100vh;

    background-image: url("../images/ai-generated-8550769_1280.webp");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
   
  }

@media (min-width:768px){
  .header-background {
    min-height: 100vh;
    background-attachment: fixed;
  }
}
  

nav {
    /* border: 2px dashed red; */
    width: 100%;
    background-color: rgba(31, 41, 55, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: relative;
    z-index: 2;
    font-size: clamp(1.5rem, 2vw, 1.9rem);
  
}  


.nomets {
    font-family: 'News Cycle',sans-serif;
    font-weight: bold;
    font-size: clamp(1.7rem, 3vw, 1.9rem);
  }

.nomets:hover {
  color: rgb(226, 221, 221);
}


/* Menu principal */
.main-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position:relative;
   
}


nav a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-decoration: none;
    color: white;

       
  }
  
.main-menu a:hover {
  color: var(--green);
  text-decoration:overline;



}

/* ========== GESTION MENU BURGER ========== */
  /* Bouton burger */
  .burger {
    font-size: 2.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
    z-index: 100;
  }
  
  /* Animation */
  .main-menu {
    transition: transform 0.3s ease-in-out;
  }
  
  @media (max-width: 768px) {
    .burger {
      display: block;
    }
  
    .main-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;

      background-color: rgba(12, 43, 6, 0.867);
      padding: 2rem;
      transform: translateY(-200%);
      transition: transform 0.3s ease-in-out;
      z-index: 1000;
    }
  
    .main-menu.show {
      transform: translateY(0);
    }
  
    .main-menu li {
      margin-bottom: 1rem;
    }
  
    /* .dropdown-toggle {
      background: none;
      border: none;
      color: white;
      font-size: 1.6rem;
      cursor: pointer;
      padding: 0;
    } */
  

  }

/* ========== OVERLAY ========== */
  .overlay-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
.overlay {
  width: 100%;
  max-width: clamp(30rem, 90%, 120rem);
  background-color: rgba(7, 7, 7, 0.5);
  padding: clamp(2rem, 5vw, 7rem);
  text-align: center;
  color: white;
  border-radius: 0.5rem;
}

.overlay h1, .overlay p {

    text-align: center;
    color: rgb(255, 255, 255);

}

.overlay h1 {
  font-family: 'News Cycle',sans-serif;
    font-size: clamp(3.5rem, 5vw, 8rem);
    padding: 2.5rem 0;
    /* font-weight: 300; */
    letter-spacing: 0.1rem;
    line-height: 1;
     
  }

.overlay span {
  font-family: 'News Cycle',sans-serif;
    font-size: clamp(2rem, 3vw, 4rem);
color: rgba(255, 255, 255, 0.64);
    /* color: transparent;
    -webkit-text-stroke: 1px white; 
    /* Contour blanc */
    /* text-stroke: 0.5px white;          */ */
    /* Pour compatibilité éventuelle */
    /* font-weight: 300; */
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

/* ========== BOUTON CTA ========== */

.cta-fixe {
    position: fixed;
    bottom: 6rem;
    right: 6rem;
    z-index: 999;
    padding: 1rem 2rem;
    background-color: rgb(37, 172, 51);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 9999px; /* pill shape */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.3s;
  }
  .cta-fixe {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
  }
  
  .cta-fixe.visible {
    opacity: 1;
    pointer-events: auto;
  }
  
  .cta-fixe:hover {
    background-color: #0bb000;
    transform: scale(1.05);
  }

  /* ========== FLECHE SCROLL ========== */

  .scroll-down {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    color: white;
    animation: bounce 2s infinite;
    text-decoration: none;
    z-index: 5;
    cursor: pointer;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(8px);
    }
  }

  
/* ========== SECTION SERVICES ========== */

.services {

  background-image: url('../images/beautiful-plant-closeup.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}

.services h2{
  padding-top: 10rem;
}
.services h2, h3 {
 text-align: center;
 line-height: 1.5;
  
}

.services > h3 {
  color: var(--green);
  text-transform: uppercase;
}


.container_services {

  margin: 0 auto;
  width: clamp(30rem, 90%, 1200rem);
  text-align: center;
  padding: 9rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.5rem;
  
}



@media (min-width: 1024px) {
  .container_services {
    flex-direction: row;
    gap:clamp(2.5rem, 2vw, 4rem);
    flex-wrap: wrap;
    justify-content: center;
    
  }
.container_service {
  /
    flex: 1 1 45%; /* Garantit que chaque service occupe presque 50% */
    max-width: 45%; /* Évite que le dernier élément prenne toute la ligne */
    
}

}

.service_caption img {
  display: block;
  width:clamp(4rem 5vw 8rem);
  object-fit: cover;
  aspect-ratio: 3 / 2;
  max-width: 100%;
  height: auto;
  border-radius: 8px;

 
}

.lien_service {
  padding: 0.5rem 2rem;
  background-color: rgb(100, 67, 7);
  color: white;
  display: inline-block;
  margin: 2rem 0;
  border-radius: 0.5rem;
  transition: 
    transform 0.3s ease,
    background-color 0.3s ease;


}

.lien_service:hover {
  background-color: var(--green);
  color: white;
  transform: scale(1.08); /* grossit légèrement */
}

/* ========== CAPTION ========== */



.service_caption {
  position: relative;
  display: inline-block;
  width: 100%; /* S'assure que l'image et le caption restent ensemble */
}


  .caption {
    position: absolute;
    bottom: 0; /* Fixe en bas de l'image */
    left: 0;
    width: 100%;
    height: 30%; /* Taille contrôlée */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: 500;
    opacity: 1;
    transition: all 0.3s ease-in-out;

  }

  

  .service_caption:hover .caption {
    height: 100%; /* Remplit toute l'image progressivement */
    background-color: rgba(0, 0, 0, 0.7); /* Assombri légèrement au survol */
}

/* ========== SECTION A PROPOS ========== */
.presentation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 5rem 2rem;

  flex-direction: column;
  min-height: auto;
    /* Pas de hauteur fixe ici */
}




@media (min-width: 768px) {
  .presentation {
    height: 100vh;
  }
}
.presentation, .container_presentation {
  position: relative;

  
}

.bg-video {
  position: absolute;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none; /* ← pour éviter les interactions avec la vidéo */
}

.container_presentation {

  margin: 0 auto;
  text-align: center;
  z-index: 1;
  color: rgb(255, 255, 255);

  /* MODIFICATION ICI */
  width: 100%;
  max-width: 90rem; /* ← 900px max par sécurité */
  padding: clamp(2rem, 4vw, 7rem);

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container_presentation h2 {
  margin-bottom: clamp(0.5rem, 1vw, 8rem);
  line-height: 1;
  margin-top: clamp(1rem, 2rem, 8rem);
}


/* ========== ZONE INTERVENTION ========== */

.zone-intervention {
  background-color: #f5f5f5;
  padding: 5rem 2rem;
  text-align: center;
}

.container_zone {
  max-width: 90rem;
  margin: auto;
  padding: 0 2rem;
}

.zone-intervention h2 {

  color: #317f13;
  margin-bottom: 2rem;
}

.zone-intervention p {

  color: #222;

}

.container_villes {
  padding-top: 2rem;
}

.container_villes ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.container_villes li a {
  text-decoration: none;
  color: #7f4d13;
  font-weight: bold;
}
/* ========== COORDONNEES ========== */
/* ========== GOOGLE MAPS ========== */

.coordonnées {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url("../images/fern-leaves-black-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.coordonnées_container {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.coordonnées_container h2{
  padding-top: 10rem;
}


.coordonnées_container h2, p {
  color: white; 

}

.coordonnées_container h3 {
  color: var(--green);
  padding-bottom: 9rem;

}
.coordonnées_container h2, h3 {
  line-height: 1.5;
}



.map-container {
  aspect-ratio: 16 / 9;
  width: 100%;
  margin-top: 3rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.contact {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}




.contact-address, .contact-info, .btn-contact {
  
  font-style: normal;
  background: #f9f9f953;
  padding: 1rem 1.5rem;
  border-left: 4px solid #3a6d32;
  border-radius: 4px;
  color: #ffffff;
  line-height: 1.6;
  width: 50%;

  align-content: center;
  display: block;

}

@media(min-width:768px) {
  .contact {
    flex-direction: row;
    align-items: normal;
  }
  .contact-address, .contact-info, .btn-contact {
    width: 100%;
  }

}
/* Bouton avec effet au survol */
.btn-contact {
  font-weight: bold;
  color: #fcfcfc;
  border: 2px solid #317f13;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
}

.btn-contact::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #317f13;
  z-index: -1;
  transition: width 0.3s ease;
}

.btn-contact:hover {
  color: white;
}

.btn-contact:hover::before {
  width: 100%;
}

  



/* ========== footer ========== */

  footer {

    background-color: black;
    
    color: white;
   


    
    
  }
  
  .container_footer {
    align-items: center;
    width: 100%;
    padding: 1rem 3rem;
justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 3vw, 1.8rem);
    
   
    

  }

  .container_footer a {
    display: block;
  }

  @media (min-width:767px) {
    .container_footer {
      flex-direction: row;
      justify-content: space-between;
    }
  }
