@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --green :rgb(37, 172, 51);
}

/* * {
    outline: 1px solid limegreen;
  } */

  body {
    font-size: 1.6rem; /* = 16px si tu as 62.5% dans html */
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.6rem, 3vw, 1.8rem);
    line-height: 1.7;
    font-weight:400;
  }

  h1, h2, h3 {
    font-family: 'News Cycle',sans-serif;
  }

  h1 {
  font-size: clamp(3.5rem, 5vw, 8rem);
  font-weight: 600;
}
  h2 {
    font-size: clamp(2.5rem, 4.5vw, 5rem);
    font: 600;
  }

  h3 {
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: 500;
  }
  

.logo {
    display: block;
    height: clamp(4rem, 4vw, 8rem); 
    width:auto;
    flex-shrink: 0;      /* empêche l'image de rétrécir */
    
}

.header-background {
    position: relative;
    height: 100vh;
    background-image: url("images/elagueur_nicolleau.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

nav {
    /* border: 2px dashed red; */
    background-color: rgba(31, 41, 55, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: relative;
    z-index: 2;
    font-size: clamp(1.5rem, 2vw, 1.9rem);
  
}  


.nomets {
    font-family: 'News Cycle',sans-serif;
    font-weight: bold;
    font-size: clamp(1.7rem, 3vw, 1.9rem);
  }

.nomets:hover {
  color: rgb(226, 221, 221);
}


/* Menu principal */
.main-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position:relative;
   
}


nav a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-decoration: none;
    color: white;

       
  }
  
.main-menu a:hover {
  color: var(--green);
  text-decoration:overline;



}

/* ========== GESTION MENU BURGER ========== */
  /* Bouton burger */
  .burger {
    font-size: 2.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
    z-index: 100;
  }
  
  /* Animation */
  .main-menu {
    transition: transform 0.3s ease-in-out;
  }
  
  @media (max-width: 768px) {
    .burger {
      display: block;
    }
  
    .main-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;

      background-color: rgba(12, 43, 6, 0.867);
      padding: 2rem;
      transform: translateY(-200%);
      transition: transform 0.3s ease-in-out;
      z-index: 1000;
    }
  
    .main-menu.show {
      transform: translateY(0);
    }
  
    .main-menu li {
      margin-bottom: 1rem;
    }
  
    /* .dropdown-toggle {
      background: none;
      border: none;
      color: white;
      font-size: 1.6rem;
      cursor: pointer;
      padding: 0;
    } */
  

  }

/* ========== OVERLAY ========== */

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centre parfaitement */
    width: clamp(30rem, 90%, 1200rem);
    background-color: rgba(7, 7, 7, 0.5);
    /* background-color: rgba(0, 0, 0, 0.3); */
    padding: clamp(2rem, 5vw,7rem);
  text-align: center;
/* background-color: rgba(255, 255, 255, 0.3); */
  color: white;
  border-radius: 0.5rem;
  z-index: 1;
}

.overlay h1, .overlay p {

    text-align: center;
    color: rgb(255, 255, 255);
}

.overlay h1 {
  font-family: 'News Cycle',sans-serif;
    font-size: clamp(3.5rem, 5vw, 8rem);
    padding: 2.5rem 0;
    /* font-weight: 300; */
    letter-spacing: 0.1rem;
    line-height: 0.2;
     
  }

.overlay span {
  font-family: 'News Cycle',sans-serif;
    font-size: clamp(2rem, 3vw, 4rem);
color: rgba(255, 255, 255, 0.64);
    /* color: transparent;
    -webkit-text-stroke: 1px white; 
    /* Contour blanc */
    /* text-stroke: 0.5px white;          */ */
    /* Pour compatibilité éventuelle */
    /* font-weight: 300; */
    letter-spacing: 0.1rem;
    line-height: 1.5;
}

/* ========== BOUTON CTA ========== */

.cta-fixe {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
    padding: 1rem 2rem;
    background-color: rgb(37, 172, 51);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 9999px; /* pill shape */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.3s;
  }
  
  .cta-fixe:hover {
    background-color: #0bb000;
    transform: scale(1.05);
  }

  /* ========== FLECHE SCROLL ========== */

  .scroll-down {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    color: white;
    animation: bounce 2s infinite;
    text-decoration: none;
    z-index: 5;
    cursor: pointer;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(8px);
    }
  }

  
/* ========== SECTION SERVICES ========== */

.services {

  background-image: url('images/beautiful-plant-closeup.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}

.services h2 {
 text-align: center;
 padding-top: 10rem;
}


.container_services {

  margin: 0 auto;
  width: clamp(30rem, 85%, 1200rem);
  text-align: center;
  padding: 9rem 0;
}

.container_services h2 {
  padding-bottom: 3.5rem;
}


.container-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
 
  position: relative;
}



.container-service img {
  display: block;
  width: 100%;


}

.photos_services {
  aspect-ratio: 3 / 1.7;
  object-fit: cover;
  border-radius: 0.5rem;
  transition-duration: 0.5s;
}

.photos_services:hover {
  filter: brightness(60%);

  /* filter:  rgba(32, 137, 9, 0.611); */
}

.service {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
  gap: 2.5rem;
  align-items: center;
  width: 100%;
  background-color: rgba(12, 107, 26, 0.471);


}

.service img {
  display: block;
  width: clamp(4rem, 5vw, 8rem);
 
  
}

.lien_service {
  /* color: var(--green); */
  transition-duration: 0.2s;
  padding: 0.5rem 2rem;
  background-color: rgb(100, 67, 7);
  color: white;
 
  margin-bottom: 5rem;

  display: inline-block;
  transition: 
    transform 0.3s ease,
    background-color 0.3s ease;


}

.lien_service:hover {
  background-color: var(--green);
  color: white;
  transform: scale(1.08); /* grossit légèrement */
}




@media(min-width :1024px) {
  .container_services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6rem; /* espace entre les blocs */
    justify-content: flex-start;
  }
    .container-service {
    flex-direction: column;
    flex: 1 1 calc(50% - 3rem); /* 2 colonnes avec un espace de 3rem */
    max-width: 50%;
    
  }
  .service {

    flex-direction: row;
  }
}


/* ========== SECTION A PROPOS ========== */
.presentation{
  height: 70vh;
  overflow: hidden;
  display: flex;
  align-items: center;

}
.presentation, .container_presentation {
  position: relative;
  
}

.bg-video {
  position: absolute;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none; /* ← pour éviter les interactions avec la vidéo */
}

.container_presentation {
  position: relative;
  margin: 0 auto;

  text-align: center;
  z-index: 1;
  color: rgb(255, 255, 255);
  width: clamp(30rem, 90%, 1200rem);
    background-color: rgba(0, 0, 0, 0.352);
    /* background-color: rgba(0, 0, 0, 0.3); */
    padding: clamp(2rem, 5vw,7rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container_presentation h2 {
  margin-bottom: clamp(4rem, 5rem, 8rem);
  margin-top: clamp(4rem, 5rem, 8rem);
}
/* ========== footer ========== */

  footer {

    background-color: black;
    color: white;
    
    
  }